*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    overflow-x: hidden; 
}
.menu {
    display: none;
}
header {
    color: rgba(7, 7, 133, 0.952);
    font-size: 16px;
    background-color: rgb(146, 205, 233);
    width: 100%;
    height: 70px;
}
.nav {
    text-decoration: none;
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 70px;
}
.nav a {
    color: navy;
    text-decoration: none;
    margin-right: 4vw;
    opacity: 0;
    transition: 0.3s;
    animation: slideT 1.1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.nav a:hover {
    text-decoration: underline;
}
header h1 {
    position: relative;
    left: 20px;
    top: 10px;
    opacity: 0;
    animation:slideR 1s ease forwards ;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    color: grey;
    font-size: 12px;
}
footer a {
    color: gray;
    text-decoration: none;
    font-size: 15px;
}
footer a:hover {
    text-decoration: underline;
}
/* 动画 */
@keyframes slideR {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideL {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideB {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideT {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* 响应式设计 */
@media screen and (max-width: 768px) {
    header a {
        display: none;
    }
    header h1 {
        display: flex;
        justify-content: center; 
    }
    .menu {
        display: block;
        background-color: transparent;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }

}

