@import url('https://fonts.font.im/css?family=Roboto+Slab');

*{
    padding: 0;
    margin: 0;
    font-family: "Aptos",sans-serif;
}
body {
    overflow-x: hidden; 
}
.close {
    margin-left: 11px;
    padding: 0 2px;
}
.hamburger {
    display: none;
}
.menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background: #333;
    color: white;
    transition: left 0.3s ease;
    z-index: 90;
}
.menu.active {
    left: 0;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3 ease;
    z-index: 80;
}
.overlay.active {
    opacity: 1;
    visibility: visible;
}
header {
    color: rgba(7, 7, 133, 0.952);
    font-size: 16px;
    background-color: rgb(146, 205, 233);
    width: 100%;
    height: 70px;
}
.nav {
    text-decoration: none;
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 70px;
}
.nav a {
    color: navy;
    text-decoration: none;
    margin-right: 4vw;
    opacity: 0;
    transition: 0.3s;
    animation: slideT 1.1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.nav a:hover {
    text-decoration: underline;
}
header h1 {
    position: relative;
    left: 20px;
    top: 10px;
    opacity: 0;
    animation:slideR 1s ease forwards ;
}
footer {
    display: flex;
    font-family: "Roboto slab",serif;
    flex-direction: column;
    align-items: center;
}
footer p {
    color: grey;
    font-size: 12px;
}
footer a {
    color: gray;
    text-decoration: none;
    font-size: 15px;
}
footer a:hover {
    text-decoration: underline;
}
/* 动画 */
@keyframes slideR {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideL {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideB {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideT {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* 响应式设计 */
@media screen and (max-width: 768px) {
    header a {
        display: none;
    }
    header h1 {
        display: flex;
        justify-content: center; 
    }
    .hamburger {
        display: block;
        background-color: transparent;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }
    .menu {
        padding-top: 50px;
    }
    .menu a {
        display: block;
        margin: 10px 20px;
        color: whitesmoke;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Roboto slab', serif;
    }
    .menu a:hover {
        text-decoration: underline;
    }
}
