header img{
    width: auto;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
}
main section p {
    position: relative;
    left: 10px;
}
.esi {
    height: 70vh;
    background-image: url(texture/bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.esi h4{
    color:#fef7e6;
    font-size: 25px;
    transition: 0.3s;
    opacity: 0;
    animation: slideR 0.7s ease forwards;
    animation-delay: 0.3s;
}
.esi li{
    color:antiquewhite;
    font-size: medium;
    opacity: 0;
    transition: 0.7s;
    animation: slideT 1s ease forwards;
    animation-delay: calc(.3s*var(--i));
}
.esi h2 {
    color: white;
    font-size: 40px;
    margin: 10px 0;
    opacity: 0;
    transition: 0.3s;
    animation: slideB 1s ease forwards;
}
.sm a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
    border: 1px solid #fef7e6;
    padding: 5px 10px;
    border-radius: 6px;
    opacity: 0;
    transition: 1s;
    animation: slideL 0.7s ease forwards;
    animation-delay: 0.6s;
}
.sm {
    display: flex;
}
.bq {
    height: 60px;
    background-color: rgb(49, 49, 49);
}
.bq blockquote {
    color: aliceblue;
    font-size: 20px;
    position: relative;
    left: 20px;
    top: 10px;
    opacity: 0;
    animation: slideR 1s ease forwards;
    animation-delay: 0.7s;
}
/*clock*/
#clock-container {
      position: relative;
      height: 100px;
      overflow: hidden;
      font-family: Arial, sans-serif;
}
.clock-item {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.7s, opacity 0.7s;
}
.clock-item.active {
    opacity: 1;
    transform: translateY(0);
}
.clock-item.leaving {
    opacity: 0;
    transform: translateY(-100%);
}

