main section{
    padding: 10px 30px;
    line-height: 1.7em;
    background-color: rgb(231, 217, 199);
}
.CGTN {
    display: flex;
}
.CGTN img {
    height: 200px;
    border-radius:10px;
    margin:5px;
}
@media screen and (max-width: 768px){
    .CGTN{
        display: flex;
        flex-direction: column;
    }
    .CGTN img {
        width: 350px;
        height: auto;
        opacity: 0;
        animation: slideR 1s ease forwards;
        animation-delay: .7s;
    }
}


